@import '/src/styles/colors';
@import '/src/styles/effects';

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    height: 36px;
    background-color: $colorPrimary;
    color: $colorOnSurface;
    border: none;
    border-radius: 4px;

    @include hoverTransition();
    
    &:hover {
        cursor: pointer;
    }

    &_outlined {
        background-color: transparent;
        border: 1px solid $colorPrimary;
        color: $colorPrimary;

        &:hover {
            background-color: $colorSurfaceHover;
        }
    }
    
    &_text {
        border: none;
        background: transparent;
        color: $colorPrimary;
        
        &:hover {
            color: $colorPrimaryHover;
        }
    }

    &_rounded {
        border-radius: 16px;
    }

    &_short {
        width: fit-content;
    }

    &__label {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        &_capitalize {
            text-transform: capitalize;
        }
        
        &_uppercase {
            text-transform: uppercase;
        }
    }
}