$colorPrimary: #E53D30;
$colorPrimaryHover: #e0584f;
$colorSurface: white;
$colorSurfaceHover: #e9edff;

$colorOnSurface: black;
$colorOnSurface87: rgba(0, 0, 0, 0.87);
$colorOnSurface60: rgba(0, 0, 0, 0.60);
$colorOnSurface12: rgba(0, 0, 0, 0.12);

$colorError: #D2042D;