@import 'styles/typography';

.app {
    &__block {
        display: flex;
        flex-direction: column;

        & > *:not(:first-child) {
            margin-top: 8px;
        }

        margin-bottom: 32px;
        border: 1px solid rgb(204, 204, 204);
        border-radius: 4px;
        padding: 16px;
        background-color: rgb(240, 240, 255);
    }
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

// h2 {
//     color: gray
// }

